.chatbox{
	width:21.25rem;
	height:100vh;
	position:fixed;
	right:-31.25rem;
	top:0;
	z-index:999;
	background: var(--bs-body-bg);
	box-shadow: 0rem 0rem 1.875rem 0rem rgba(82, 63, 105, 0.15) ;
	@include transitionSlow;
	
	.chatbox-close{
		position: absolute;
		@include transitionFast;
		width: 0;
		height: 100%;
		right: 21.25rem;
		background: var(--bs-heading-color);
		z-index: 1;
		opacity: 0.1;
		cursor:pointer;
	}
	.card-fotter {
		padding: 0.75rem 1rem;	
	}
	.card-body {
		padding: 1rem;
	}
	&.active{
		right:0;
		
		.chatbox-close{
			width: 100vw;
		}
	}
	.type_msg {
		padding-top: 0.625rem;
	}
	.nav{
	    padding: 1rem 1rem 0 1rem;
		background: var(--bs-primary);
		border: 0;
		justify-content: space-between;
			
		.nav-link{
			color: var(--bs-white);
			opacity: 0.7;
			text-transform: uppercase;
			font-size: 16px;
			
			&:hover,
			&.active{
				background: transparent;
				color: var(--bs-white);
				opacity: 1;
				border-color: var(--bs-white);
			}
		}
	}
	.img_cont{
		width: 2.5rem;
		border-radius: 2.5rem;
		margin-right: 0.625rem;
		position: relative;
		height: 2.5rem;
		background: var(--bs-light);
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 0.875rem;
		min-width: 2.5rem;
		min-height: 2.5rem;
		
		.icon{
			color:#fff;
		}
		&.primary{
			background: rgba(var(--bs-primary-rgb), 0.05);
			color: var(--bs-primary);
		}
		&.warning{
			background: rgba(var(--bs-warning-rgb), 0.05);
			color: var(--bs-warning);
		}
		&.success{
			background: rgba(var(--bs-success-rgb), 0.05);
			color: var(--bs-success);
		}
		&.info{
			background: rgba(var(--bs-info-rgb), 0.05);
			color: var(--bs-info);
		}
		
		img{
			width:100%;
		}
		.online_icon{
			background: var(--bs-success);
			position: absolute;
			width: 0.75rem;
			height: 0.75rem;
			border-radius: 0.9375rem;
			right: -0.0625rem;
			bottom: 0rem;
			border: 0.125rem solid #fff;
		
			&.offline{
				background: var(--bs-danger);
			}
		}
	}
	.card{
		box-shadow: none;
		border-radius: 0;		
	}
	.search{
		height:2.5rem;
	}
	.user_info{
		span{
			font-size: 0.9375rem;
			color: var(--bs-heading-color);
			display: block;
			font-weight: 500;
			line-height: 1.2;
			margin-bottom: 0.3125rem;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			display: block;
			max-width: 10.625rem;
		}
		p{
			font-size:0.8125rem;
			margin-bottom:0;
			line-height: 1.2;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			display: block;
			max-width: 10.625rem;
		}
	}
	.contacts{
		li{
			padding: 0.75rem 1rem;
			border-bottom: 0.0625rem solid var(--bs-border-color);
			cursor: pointer;
			
			& > div{
				display:flex;
				align-items:center;
			}
			&:hover{
				background: rgba(var(--bs-primary-rgb), 0.05);
			}
		}
		.name-first-letter{
			background: var(--bs-primary-bg-subtle);
			padding: 0.25rem 1rem;
			font-weight: 600;
			color: var(--bs-heading-color);
			position: sticky;
			top: 0;
			z-index: 1;
		}
	}
	.contacts_body{
		height: calc(100vh - 168px);
	}
	.card-header{
		background: var(--bs-body-bg);
		padding: 0.9375rem 1.25rem;
		justify-content: center;
		h6{
			font-size:0.9375rem;
		}
		p{
			line-height:1.2;
			font-size: 0.75rem;
		}
	}
	.chat-list-header{
		justify-content: space-between;
		background: var(--bs-body-bg);
		
		.dz-chat-history-back,
		.dz-chat-dropdown,
		.dz-chatbox-btn{
			text-align: center;
			width: 1.875rem;
			height: 1.875rem;
			background: rgba(var(--bs-primary-rgb), 0.05);
			border-radius: 0.375rem;
			line-height: 1.675rem;
			display: block;
			
			@at-root [data-bs-theme="dark"] & {
				svg g [fill]{
					fill: $white;
				}
			}	
		}
	}
	.img_cont_msg{
		width: 1.875rem;
		height: 1.875rem;
		display: block;
		max-width: 1.875rem;
		min-width: 1.875rem;
		
		img{
			width:100%;
		}
	}
	.msg_cotainer {
		background: var(--bs-primary);
		margin-left: 0.625rem;
		border-radius: 0 var(--bs-border-radius) var(--bs-border-radius) var(--bs-border-radius);
		padding: 0.625rem 0.9375rem;
		color: #fff;
		position:relative;
		
		.msg_time{
			display: block;
			font-size: 0.6875rem;
			color: #fff;
			margin-top: 0.3125rem;
			opacity: 0.5;
		}
		&:after{
			content: "";
			position: absolute;
			left: -0.625rem;
			border-right: 0.625rem solid var(--bs-primary);
			border-bottom: 0.625rem solid transparent;
			border-top: 0rem solid;
			top: 0;
		}
	}
	.msg_cotainer_send {
		background: var(--bs-light);
		padding: 0.625rem 0.9375rem;
		border-radius: 0.375rem 0rem 0.375rem 0.375rem;
		margin-right: 0.625rem;
		color: var(--bs-heading-color);
		position: relative;
		text-align: right;
		
		.msg_time_send {
			display: block;
			font-size: 0.6875rem;
			text-align: right;
			margin-top: 0.3125rem;
			opacity: 0.6;
		}
		&:after{
			content: "";
			position: absolute;
			right: -0.625rem;
			border-left: 0.625rem solid var(--bs-light);
			border-bottom: 0.625rem solid transparent;
			border-top: 0rem solid;
			top: 0;
		}
	}
	.type_msg{
		.form-control{
			padding: 0.625rem 0;
			height: 3.125rem;
			resize: none;
			border: 0;
			box-shadow: none;
			
			&:focus{
				z-index:0;
			}
		}
		.btn{
			font-size: 1.125rem;
			border-radius: 2.375rem !important;
			width: 2.375rem;
			height: 2.375rem;
			padding: 0;
			margin-top: 0.375rem;
		}
	} 
	.video_cam{
		margin-left:0.9375rem;
		
		span{
			width: 2.1875rem;
			height: 2.1875rem;
			background: #10ca93;
			text-align: center;
			line-height: 2.1875rem;
			border-radius: 2.1875rem;
			color: #fff;
			margin-right: 0.3125rem;
			align-self: center;
			font-size: 1rem;
			padding: 0 0.1875rem;
			display: inline-block;
		}
	}
	.note_card{
		.contacts li{
			padding: 0.75rem 1rem;
		}
	}
}
@include custommq($max: 36rem) {
	.chatbox{
		width: 17.5rem;
		
		.chatbox-close{
			right: 17.5rem
		}
	}
}