@media (min-width: 767px) {

    [data-sidebar-style="icon-hover"][data-layout="horizontal"] {
		.metismenu {
			padding: 0.625rem 1.25rem;
		}
		.header .header-content {
		    padding-left: 1.875rem;	
		}
        &[data-header-position="static"][data-sidebar-position="static"] {
            .content-body {
                padding-top: 0;
            }
        }
	}
    [data-sidebar-style="icon-hover"][data-layout="vertical"] {
        .nav-header {
            width: 5.063rem;

            .brand-logo {
                padding: 20px;
                .logo-abbr {
                    display: block;
                }

                .brand-title {
                    display: none;
                }
            }

            .nav-control {
                display: none;
            }
        }

        .header {
            padding-left: 5.063rem;

            .header-content {
                padding-left: 1.375rem;
            }
        }

        .deznav {
            overflow: visible;
            position: absolute;
            left: -12rem;
			@include custommq($min: 1200px, $max: 1350px) {
                left: -10rem;
            }
            .nav-label {
                display: none;
            }
            .metismenu {
                padding: 15px;
                &>li {
                    &>a {
                        display: flex;
                        justify-content: space-between;
                        border-radius: var(--bs-border-radius);
    
                        &>svg,
                        &>i {
                            order: 1;
							margin-right:0;
							margin-top:0;
                        }
                    }
                    &.mm-active,
                    &:hover {
                        > a {
                            background: rgba(var(--bs-primary-rgb), 0.15);
                        }
                    }
                }
                li{
                    &.mm-active{
                        > ul{
                            display: none;
                        }
                    }
                }
                ul {
					border-left: 0;
					padding-left:0;
					padding-right:28px;
					&:after{
						left:auto;
						right:28px;
					}
                    a {
                        position: relative;

                        &::before {
							left: auto;
							right: -5px;
                        }
                    }
                }
                a{
                    padding: 0.625rem 1rem;
                }
                .has-arrow {
                    &::after {
                        right: 5rem;
                    }
                }
            }
            .add-menu-sidebar{
				opacity:0;
			}
			.copyright{
				opacity:0;
			}
        }

        .iconhover-toggle {
            .nav-header {
                width: 18rem;
    
                .brand-logo {
                    padding-left: 1.6rem;
                    .brand-title.view-light{
                        display: block;
                    }
                    .brand-title.view-dark{
                        display: none;
                    }
                }
            }
    
            .header {
                padding-left: 4.38rem;
            }

            .deznav {
                left: 0;
                .add-menu-sidebar{
					opacity:1;
				}
				.copyright{
					opacity:1;
				}
                .metismenu {
                    li {
                        &.mm-active {
                            ul {
                                display: block;
                            }
                        }
                    }
                    ul{
                        a{
                            padding-left: 2.2rem;
                        }
                    }
                }
            }
        }

        .content-body {
            margin-left: 5rem;
            .container-fluid{
                margin-left: 0;
            }
        }

        .footer {
            padding-left: 4.375rem;
        }
        &[data-bs-theme="dark"] {
            .deznav {
                .metismenu {
                    &> li{
                        &.mm-active,
                        &:hover {
                            & > a{
                                background: rgba(var(--bs-primary-rgb), 0.6);
                            }
                        }
                    }
                }
            }
            .iconhover-toggle{
                .nav-header{
                    .brand-logo{
                        .brand-title.view-light{
                            display: none;
                        }
                        .brand-title.view-dark{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}