// Heart Blast Effect
.heart{
	width: 3.75rem;
    height: 3.75rem;
    display: inline-block;
    // background: url('../images/like.avif');
    cursor: pointer;
    margin: -1.563rem -0.938rem;
}
.heart-blast{
	background-position: -1680px 0 !important;
    transition: background 1s steps(28);
}

#world-map,
#usa{
    height: 25rem;
	@include respond('tab-port') {
	    height: 21.875rem;
	}
	@include respond('phone') {
	    height: 14.375rem;	
	}
}
.btn.btn-primary.light:hover{
	svg.icon-text{
		path{
			fill: $white;
		}
	}
}
.testimonial-one.owl-carousel .owl-nav.disabled {
    display: flex;
}
.page-title {
  	display: flex;
	align-items: center;
  	justify-content: space-between;
  	padding: 10px 30px;
  	background: var(--bs-body-bg);
  	position: relative;
  	z-index: 1;
  	flex-flow: wrap;
	margin-bottom: 1.875rem;
    border-radius: 12px;
	box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgba(82, 63, 105, 0.05);

	h1{
		margin: 0;
		font-size: 17px;
		margin-right: 2rem;

		@media only screen and (max-width: 35.9375rem) {
		font-size: 15px;
		margin-right: 1rem;
		}
	}

	.breadcrumb {
		margin-bottom: 0;
		align-items: center;

		li {
		margin-top: 0;
		margin-bottom: 0;

		a {
			display: flex;
			gap: 6px;
			color: var(--bs-body-color);
		}

		&.active {
			color: var(--bs-primary);
			font-weight: 500;

			a {
			color: var(--bs-primary) !important;
			}
		}
		}

		.breadcrumb-item + .breadcrumb-item::before {
		color: var(--bs-primary);
		}
  	}

	ol {
		margin-bottom: 0;
	}

	@media only screen and (max-width: 767px) {
		padding-right: 20px;
		padding-left: 20px;
	}

	@media only screen and (max-width: 575px) {
		padding-right: 15px;
		padding-left: 15px;
		flex-direction: column;
		gap: 5px;
		align-items: flex-start;
	}
}
.review-table {
    padding: 1.56rem;
    box-shadow: none;
    border-radius: 0;
    height: auto;
    margin-bottom: 0;
}
table{
	tbody{
		tr{
			td{
				.form-check{
					font-size: 18px;
				}
			}
		}
	}
}
// draggable-handle
.draggable-handle{
	cursor: move;
}
.card-carousel-dots{
	.owl-dots{
		position: absolute;
		right: 0;
		top: 0;
	
		.owl-dot{
			width: 9px;
			height: 9px;
			border-radius: 50%;
			background-color: var(--bs-secondary);
			opacity: 0.2;
			@include transitionMedium;
			display: inline-block;
			margin: 0 4px;
			
			&.active{
				transform: scale(1.3);
				opacity: 1;
			}
		}
	}
}

// Custom Offcanvas 
.custom-offcanvas{
	--bs-offcanvas-padding-x: 40px;
    --bs-offcanvas-padding-y: 30px;
	--bs-offcanvas-width: 800px;

	@include respond ('phone-land'){
		--bs-offcanvas-padding-x: 15px;
		--bs-offcanvas-padding-y: 15px;
	}
}

.kanban-bx{
	display: flex;
    width: 100%;
    overflow-x: auto;
	flex-wrap:nowrap;
	margin:0;
	
	.col{
		width: 324px;
		min-width: 324px;
		padding-left: 0;
	}
	@include respond ('phone-land'){
		display: block;
		width: auto;
		
		.col{
			width:100%;
			min-width:100%;
			flex-basis: 0;
			flex-grow: 1;
		}
	}
}
.menu-title{
	@include respond ('phone'){
		display:none;
	}
}
.chart-series{
	cursor: pointer;
	display: inline-block;
	
	label{
		cursor: pointer;
	}	
	input[type="checkbox"]:checked + label{
		opacity: 0.5;
	}
}
.btn-docs{
	padding: 10px 8px;
    font-size: 13px;
	
	i{
		transform: rotate(45deg);
		margin-left: 2px;
	}
}

.card-header {
    align-items: center;
}

// Heart Blast Effect
.heart{
	width: 3.75rem;
    height: 3.75rem;
    display: inline-block;
    // background: url('../images/like.avif');
    cursor: pointer;
    margin: -1.563rem -0.938rem;
}
.heart-blast{
	background-position: -1680px 0 !important;
    transition: background 1s steps(28);
}

// draggable-handle
.draggable-handle{
	cursor: move;
}
.list-group .list-group-item.draggable{
	background-color: var(--bs-body-bg);
}

.active-map{
	height: 19rem !important;
}
.widget-events{
	.datepicker {
		padding: 0;
	}
	.datepicker-days{
		.picker-switch{
			font-size: 15px;
			font-weight: 500;
			color: var(--bs-heading-color);
		}
		.prev,
		.next{
			i{
				height:20px;
				width:20px;
				color: var(--bs-heading-color);
				line-height: 20px;
			}
		}
		.dow{
			font-weight: 500;
			color: var(--bs-heading-color);
			border-radius: 0;
			text-transform: uppercase;
			font-size: 15px;
			height: auto;
			line-height: normal;
			padding: 8px;
		}
		tr{
			.day.weekend:first-child{
				color: var(--bs-danger);
			}
		}
		.day{
			color: var(--bs-heading-color);
			height: 40px;
			line-height: 40px;
			box-sizing: initial;
			max-width: 25px;
			min-width: 25px;
			width: 25px;
			z-index: 1;
			position: relative;
			padding: 0;
			
			&:before,
			&:after{
				content: "";
				position: absolute;
				opacity: 0;
			}
			&:after{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 40px;
				height: 40px;
				border-radius: var(--bs-border-radius);
				background-color: var(--bs-primary);
				z-index: -1;
			}
			&:before{
				height: 12px;
				width: 12px;
				border: 2px solid #fff;
				top: calc(50% - 20px);
				right: calc(50% - 30px);
				background: var(--bs-danger);
				border-radius: 50%;
				transform: translate(-50%, -50%);
			}
			&:hover{
				&:not(.active),
				&:not(.today){
					&:after{
						background-color: var(--bs-primary-bg-subtle);
						opacity: 1;
					}
				}
			}
			&.active,
			&.today{
				background: var(--bs-body-bg) !important;
				color: #fff !important;
				
				&:before,
				&:after{
					opacity: 1;
				}
				&:hover{
					&:after{
						background: var(--bs-primary) !important;
					}
				}
			}
		}
		tr td.day:hover,
		tr td.focused{
			background: transparent;
		}
	}
	.bootstrap-datetimepicker-widget a[data-action]{
		display:none;
	}
	.meta-date{
		height: 55px;
		width: 50px;
		line-height: 1;
		border-radius: var(--bs-border-radius);
		background-color: var(--bs-primary-bg-subtle);
		text-align: center;
		padding: 7px 4px;
		
		.date{
			font-size: 20px;
			line-height: 1.2;
			font-weight: 600;
			color: var(--bs-primary);
		}
	}
}
.ps--active-x>.ps__rail-x, .ps--active-y>.ps__rail-y{
	z-index: -1;
}
.plan-list{
	.list-row{
		margin-bottom: 8px;
		transition: all 0.5s;
		border-radius: var(--bs-border-radius-xl);
		&:hover{
			background-color: var(--bs-primary);
			.text-black,
			.text-warning,
			.text-danger,
			.text-success,
			.text-secondary,
			.text-info,
			.text-primary{
				color: var(--bs-white) !important;
			}
			.avatar{
				.text-black{
					color: var(--bs-heading-color) !important;
				}
				.text-primary{
					color: var(--bs-primary) !important;
				}
			}
			svg path {
				fill: var(--bs-white);
			}
			span{
				color: var(--bs-white);
			}
			.play-btn,
			.la-caret-right{
				&.text-primary{
					color: var(--bs-primary) !important;
				}
				&:hover,
				&:focus{
					background-color: var(--bs-btn-bg);
					border-color: var(--bs-btn-bg);
				}
			}
			.dropdown{
				.btn{
					background: rgba($color: $white, $alpha: 0.3);
					&:hover,
					&:focus{
						border-color: transparent;
						svg path {
							fill: var(--bs-white);
						}
					}
				}
			}
		}
	}
}
.card-carousel-dots{
	.owl-dots{
		position: absolute;
		right: 0;
		top: 0;
	
		.owl-dot{
			width: 9px;
			height: 9px;
			border-radius: 50%;
			background-color: var(--bs-dark);
			opacity: 0.2;
			@include transitionMedium;
			display: inline-block;
			margin: 0 4px;
			
			&.active{
				transform: scale(1.3);
				opacity: 1;
			}
		}
	}
}

// Custom Offcanvas 
.custom-offcanvas{
	--bs-offcanvas-padding-x: 40px;
    --bs-offcanvas-padding-y: 30px;
	--bs-offcanvas-width: 800px;

	@include respond ('phone-land'){
		--bs-offcanvas-padding-x: 15px;
		--bs-offcanvas-padding-y: 15px;
	}
}

.kanban-bx{
	display: flex;
    width: 100%;
    overflow-x: auto;
	flex-wrap:nowrap;
	margin:0;
	
	.col{
		width: 324px;
		min-width: 324px;
		padding-left: 0;
	}
	@include respond ('phone-land'){
		display: block;
		width: auto;
		
		.col{
			width:100%;
			min-width:100%;
			flex-basis: 0;
			flex-grow: 1;
		}
	}
}
.mt-widget {
    margin-top: -40px;
}
.offset-5 {
    margin-left: 41.66667%;
}
.bg-image:after {
    position: absolute;
    content: "";
    background-image: url(../images/dolor.avif);
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    bottom: -30px;
    z-index: 0;
	filter: brightness(0.5);
}
.bg-image-2:after{
    position: absolute;
    content: "";
    background-image: url(../images/ticket.avif);
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: bottom right;
    bottom: -30px;
    z-index: 0;
}
.testimonial-one{
	&.owl-carousel{
		.owl-stage{
			display: flex;
		}
	}
	.owl-nav{
		.owl-prev{
			left: -51px;
		}
		.owl-next{
			right: -51px;
		}
		.owl-prev,
		.owl-next{
			height: 45px;
			width: 45px;
			cursor: pointer;
			line-height: 68px;
			border-radius: 100%;
			position: absolute;
			top: 40%;
			background: var(--bs-body-bg)!important;
			color: var(--bs-primary) !important;
			text-align: center;
			font-size: 18px !important;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		}
	}
	.image:after {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 100%;
		width: 100%;
		content: "";
		background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(11, 31, 55, 0) 64%, rgba(0, 0, 0, 0.7) 100%);
		border-bottom-left-radius: var(--bs-border-radius);
		border-bottom-right-radius: var(--bs-border-radius);
	}
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.menu-title{
	@include respond ('phone'){
		display:none;
	}
}
.chart-series{
	cursor: pointer;
	display: inline-block;
	
	label{
		cursor: pointer;
	}	
	input[type="checkbox"]:checked + label{
		opacity: 0.5;
	}
}
 .progress-animated {
     animation-duration: 5s;
     animation-name: myanimation;
     transition: all 5s ease 0s;
 }
 
 @keyframes myanimation {
     0% {
         width: 0;
     }
 }
 
 @keyframes myanimation {
     0% {
         width: 0;
     }
 }
.stat-card-tabs{
	.nav-underline{
		.nav-item{
			.nav-link{
				position: relative;
				span{
					position: absolute;
					bottom: -4px;
					left: 50%;
					transform: translatex(-50%);
					content: "";
					height: 4px;
					width: 0;
					-webkit-transition: all 0.5s;
					-ms-transition: all 0.5s;
					transition: all 0.5s;
				}
				&.active{
					span{
						width: 100%;
					}
				}
			}
		}
	}
	.nav-underline{
		.nav-item{
			.nav-link{
				&.active,
				&:hover,
				&:focus{
					border-bottom: none;
				}
			}
		}
	}
}
.card-tabs .nav {
	&.nav-pills{
		background-color: var(--bs-primary-bg-subtle);
	}
	.nav-link{
		border-radius: 10px;
		font-weight: 500;
		color: var(--bs-heading-color);
		font-size: 14px;
		@include transitionMedium;
		&.active{
			background: var(--bs-primary);
    		color: var(--bs-white);
		}
	}
	.nav-item{
	    display: inline-block;
	}
	@include respond('phone') {
		display:block;
	}
}
.nav.menu-pill{
	.nav-item{
		.nav-link{
			background: var(--bs-primary-bg-subtle);
    		color: var(--bs-heading-color);
			border: 0;
			&.active{
				background: var(--bs-primary);
				color: var(--bs-white);
			}
		}
	}
}
.btn-docs{
	padding: 10px 8px;
    font-size: 13px;
	i{
		transform: rotate(45deg);
		margin-left: 2px;
	}
}
.card-title{
    font-size: 1rem;
}
a {
	transition: all 0.3s;
    color: #7e7e7e;
}
.actions{
	li.quick-list {
		a{
			color: var(--bs-body-color);
			display: flex;
			align-items: center;
			font-size: 15px;
			gap: 10px;
			padding: 9px 14px;
			line-height: 1.2;
			transition: all 0.35s;
			border-radius: var(--bs-border-radius-sm);
			&:hover{
				background-color: var(--bs-primary-bg-subtle);
				color: var(--bs-primary);
			}
		}
	}
}
.card:has(.effect){
	position: relative;
    z-index: 1;
    overflow: hidden;
	.progress{
		background: rgba(0, 0, 0, 0.1);
	}
	.progress,
	.progress-bar,
	.avatar-success,
	.avatar-secondary,
	.avatar-danger,
	.avatar-warning,
	p,
	span{
		transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}

	.effect{
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-radius: 50%;
		transition: width .4s ease-in-out, height .4s ease-in-out;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		z-index: -1;
	}

	// &:has(.effect){
		&:hover{
			p,
			span{
				color: $white !important;
			}
			.avatar-success,
			.avatar-secondary,
			.avatar-danger,
			.avatar-warning{
				background-color: var(--bs-body-bg);
			}
			.effect{
				width: 225%;
				height: 562px;
			}
			.progress{
				transition: all 0.5s;
				background: rgba(255, 255, 255, 0.2);
				.progress-bar{
					background-color: $white !important;
				}
			}
		}
	// }
}
[direction="rtl"]{
	.card:has(.effect){
		.effect{
			transform: translate(50%, -50%);
		}
	}
}
[data-bs-theme="dark"]{
	.btn-link g [fill]{
		fill: $white !important;
	}
	.bg-image:after{
		filter: none;
	}
	.btn-link{
		color: #fff;
	}
	.form-control{
		color: var(--bs-white);
	}
	.select2-selection__choice{
		color: $white;
		.select2-selection__choice__remove{
			color: $white;
		}
		.select2-selection__choice__display{
			color: $white;
		}
	}
	.card-tabs .nav {
		&.nav-pills{
			background-color: var(--bs-secondary-bg);
		}
	}
	.plan-list{
		.list-row{
			.avatar{
				background-color: rgba(var(--bs-primary-rgb), 0.7) !important;
				.text-primary{
					color: var(--bs-white) !important;
				}
			}
			.btn.play-btn{
				background: var(--bs-secondary-bg);
				border-color: var(--bs-secondary-bg);
				color: var(--bs-white) !important;
				.la-caret-right.text-primary{
					color: var(--bs-white) !important;
				}
			}
			&:hover{
				.avatar{
					background-color: var(--bs-white) !important;
					.text-primary{
						color: var(--bs-primary) !important;
					}
					.text-black{
						color: var(--bs-primary) !important;
					}
				}
				.btn.play-btn{
					background: var(--bs-white);
					border-color: var(--bs-white);
					color: var(--bs-primary) !important;
					.la-caret-right.text-primary{
						color: var(--bs-primary) !important;
					}
				}
			}
		}
	}
	.nav.menu-pill{
		.nav-item{
			.nav-link{
				background: var(--bs-secondary-bg);
				&.active{
					background: var(--bs-primary);
				}
			}
		}
	}
}
[direction="rtl"]{
	.fa.fa-chevron-right{
		&::before{
			content: "\f053";
		}
	}
	.fa.fa-chevron-left{
		&::before{
			content: "\f054";
		}
	}
}